{#
 * This file is part of Leymonaide's homepage.
 * Copyright (c) 2025-2026 Leymonaide.
 * 
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful, but 
 * WITHOUT ANY WARRANTY; without even the implied warranty of 
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU 
 * Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License 
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
#}
<!DOCTYPE html>
{% import "macros.njk" as macros %}
<html
    data-sitewide-resource-ver="{{ app.appResourceVersion }}"
    {% if app.staticRender %}
        lang="{{ app.language }}"
    {# Otherwise, the lang attribute on the root element is inserted with the JS
       runtime. #}
    {% endif %}>
    <head>
        <meta charset="utf-8">

        {% if not app.staticRender %}
            {# Prefetch the common body container template #}
            <link rel="prefetch" href="/fragment/body_container">

            {# Prefetch the content template #}
            <link rel="prefetch" href="{{ app.route.fragmentsUri }}">
        {% endif %}

        {# Prefetch the core CSS styles #}
        <link rel="prefetch" href="/static/css/style.css?v={{ app.appResourceVersion }}">

        {# Prefetch the core JS script #}
        <link rel="prefetch" href="/static/js/core.js?v={{ app.appResourceVersion }}">

        {# Fit site width to device width, useful for mobile phones. #}
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ app.pageTitle.getDecoratedTitle() }}</title>
        <meta name="author" content="Leymonaide">

        {# A limitation of the static design is that metadata properties are not
           available for multiple languages. #}
        <meta property="og:title" content="{{ app.pageTitle.getDecoratedTitle() }}">

        <meta name="twitter:card" content="summary_large_image">

        <link rel="stylesheet" href="/static/css/style.css?v={{ app.appResourceVersion }}">

        <noscript>
            <link rel="stylesheet" href="/static/css/noscript_style.css?v={{ app.appResourceVersion }}">
        </noscript>

        {# Initialize page JS configuration. #}
        <script>{{ "window.leymonaide={cfg_:{INITIAL_LOAD_TIME:Date.now()}" ~ "};" }}</script>
    </head>
    <body class="{{ 'statically-rendered' if app.staticRender else 'initial-loading' }}">
        {# The theme should be loaded as soon as the body class exists. #}
        {{ macros.inline_js("load_theme") }}
        {% if not app.staticRender %}
            <div class="initial-loading-container">
                <div class="spinner"></div>
            </div>
        {% endif %}
        <div id="body-container">
            {% if app.staticRender %}
                {% include "body_container_fragment.njk" %}
            {# Otherwise, the body container is loaded at runtime via AJAX. #}
            {% endif %}
        </div>
        {% if not app.staticRender %}
            {% include "noscript_container.njk" %}
        {% endif %}
        <script type="text/javascript" src="/static/js/core.js?v={{ app.appResourceVersion }}"></script>
    </body>
</html>