{#
 * This file is part of Leymonaide's homepage.
 * Copyright (c) 2025-2026 Leymonaide.
 * 
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful, but 
 * WITHOUT ANY WARRANTY; without even the implied warranty of 
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU 
 * Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License 
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
#}

{# Template for index page. #}

<div class="content-container column-layout">
    <div class="column two-thirds">
        <div class="module basic-module">
            <h1 data-string="home_intro.hello"></h1>
            <p data-string="home_intro.who"></p>
            <p data-string="home_intro.what"></p>
        </div>
    </div>
    <div class="column one-third">
        <div class="module mini-profile">
            <div class="mini-profile-content">
                <img class="avatar size32" src="//avatars.githubusercontent.com/u/230778645">
                <div>
                    <b class="name">Leymonaide</b>
                    <div class="about-link" data-string="mini_profile.see_more_about_me"></div>
                </div>
            </div>
            <div class="socials">
                Text
            </div>
        </div>
    </div>
</div>