{#
 * This file is part of Leymonaide's homepage.
 * Copyright (c) 2025 Leymonaide.
 * 
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful, but 
 * WITHOUT ANY WARRANTY; without even the implied warranty of 
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU 
 * Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License 
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
#}

{% macro inline_js(script_name) %}
    <script>{{ app.inlinedJs[script_name]|safe }}</script>
{% endmacro %}

{% macro site_footer_module() %}
    <div class="module site-footer">
        <ul class="clearfix">
            <li class="copyright">&copy; Leymonaide</li>
            <li><a href="/privacy" data-string="page_title.privacy"></a></li>
            <li><a href="//github.com/Leymonaide/leymonaide.github.io" target="_blank" data-string="footer.source_code"></a></li>
        </ul>
    </div>
{% endmacro %}

{% macro mini_profile(
    subject_name,
    avatar_url,
    link_url,
    link_text,
    classes = [],
    attributes = {},
    title = null
) %}
    <div class="{{ ('module mini-profile' ~ ' ' ~ classes|join(' '))|trim }}"
        {% for key, value in attributes %}
        {{ key }}="{{ value }}"
        {% endfor %}
    >
        {% if title %}
            <div class="module-header with-line">
                <h3 data-string="{{ title }}"></h3>
            </div>
        {% endif %}
        <a class="mini-profile-link-wrapper" href="{{ link_url }}">
            <div class="mini-profile-content">
                <img class="avatar size32" src="{{ avatar_url }}">
                <div>
                    <b class="name">{{ subject_name }}</b>
                    <div class="about-link" data-string="{{ link_text }}"></div>
                </div>
            </div>
        </a>
        <div class="socials">
            <ul>
                <li class="social-link">
                    <a href="//bsky.app/profile/loveofleytoo.bsky.social" title="Bluesky">
                        <span class="icon icon-bluesky"></span>
                    </a>
                </li>
                <li class="social-link">
                    <a href="//twitter.com/Leym0naide" title="Twitter">
                        <span class="icon icon-twitter"></span>
                    </a>
                </li>
                <li class="social-link">
                    <a href="//github.com/Leymonaide" title="GitHub">
                        <span class="icon icon-github"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endmacro %}