{#
 * This file is part of Leymonaide's homepage.
 * Copyright (c) 2025 Leymonaide.
 * 
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful, but 
 * WITHOUT ANY WARRANTY; without even the implied warranty of 
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU 
 * Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License 
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
#}

{% macro render(navigation) %}
    <nav id="sitewide-nav" class="topbar-style">
        <div class="container">
            <ul>
                {% for item in navigation.items %}
                    {{ render_navigation_item(item) }}
                {% endfor %}
            </ul>
            <ul class="right">
                <li class="hide-if-noscript">
                    <button class="navigation-drawer-button">
                        <span class="icon navigation-drawer"
                            data-aria-label-string="page_title.navigation_drawer_label"></span>
                    </button>
                </li>
            </ul>
        </div>
    </nav>
{% endmacro %}

{% macro render_navigation_item(item) %}
    {# Items under dynamic rendering always have their active state set by JS
       once the common template is downloaded. #}
    {% set className = [
        'active' if app.staticRender and item == navigation.getActiveItem(),
        'ui-has-dropdown-menu' if item.dropdownMenu
    ]|join(' ')|trim %}
    <li{% if className|length > 0 %} class="{{ className }}"{% endif %}>
        <a href="{{ item.href }}">
            <span class="icon {{ item.icon }}"></span>
            <span class="label" data-string="{{ item.title }}"></span>{#
            #}{% if item.dropdownMenu %}{#
            #}<span class="caret"></span>{#
            #}{% endif %}
        </a>
        {% if item.dropdownMenu %}
        <div class="ui-dropdown-menu hid">
            <div class="dropdown-caret">
                <div class="caret-outer"></div>
                <div class="caret-inner"></div>
            </div>
            <ul role="menu">
                {% for menuItem in item.dropdownMenu %}
                    <li>
                        <a href="{{ menuItem.href }}" class="dropdown-link">
                            <span class="icon {{ menuItem.icon }}"></span>
                            <span class="label" data-string="{{ menuItem.title }}"></span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </li>
{% endmacro %}