{#
 * This file is part of Leymonaide's homepage.
 * Copyright (c) 2025-2026 Leymonaide.
 * 
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful, but 
 * WITHOUT ANY WARRANTY; without even the implied warranty of 
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU 
 * Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License 
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
#}

{# Template for Rehike project page. #}

{% import "macros.njk" as macros %}

<title>{{ app.pageTitle.getDecoratedTitle() }}</title>
<div class="content-container">
    <div class="module basic-module">
        <div class="project-banner">
            <img src="/static/img/page/projects/rehike/banner.png">
        </div>
        <h1>Rehike</h1>
        <p>A custom frontend server for YouTube that looks like the classic layout from 2016-2020.</p>
    </div>
    {{ macros.site_footer_module() }}
</div>